.create-button {
    margin: 15px 20px;
    display: flex;
    justify-content: end;
}

.content {
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .topic-list {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .subtopic-list {
        display: flex;
        flex-direction: column;
    }
}

.content-table {
    display: flex;
    justify-content: center;

    .MuiTablePagination-toolbar {
        align-items: baseline;
    }
}